#block-blockcopyrightaed {
  margin-bottom: 9px;

  @media screen and (min-width: $desk) {
    width: 49%;
    float: left;
    clear: left;
  }

  p {
    color: white;
    font-size: $font-size-small;
    line-height: 10px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }

}
