#block-blockmadewithlove {

  @media screen and (min-width: $desk) {
    width: 49%;
    float: right;
    clear: right;
  }

  p {
    color: white;
    font-size: $font-size-small;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    margin: 0;
  }

}
