#block-slogan {
  margin-bottom: 15px;

  @media screen and (min-width: $desk) {
    width: 47%;
    float: right;
    margin-bottom: 0;
  }

  p {
    color: white;
    font-size: $font-size-base;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;

    @media screen and (min-width: $desk) {
      letter-spacing: 1px;
    }

  }

}
