.node--type-videos.node--view-mode-full {

  .field--name-body {
    margin-bottom: 30px;
  }

  .field--type-entity-reference {
    @include clearfix;
    margin-bottom: 10px;

    .field__label {
      font-size: 18px;
      font-weight: 300;
      padding-right: 7px;
    }

    .field__item {
      font-size: 16px;
      font-weight: 700;
      color: $color-blue-c;
      display: inline-block;
      vertical-align: middle;
      padding-top: 3px;
      margin-right: 10px;
    }

  }

}
