{#
/**
 * @file pay_pal_billing_agreement.html.twig
 * Default theme implementation to present Paypal billing agreement data.
 *
 * This template is used when viewing Paypal billing agreement pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pay_pal_billing_agreement()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('paypal_billing_agreement') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
