<br/>

<div class="plan-list-table-wrapper">
    <h2>CREATED plans</h2>
    <p>Created plans are not available to offer to the end user. Fist you must activate the plan.</p>
    {{ tables.created }}
</div>

<br/>

<div class="plan-list-table-wrapper">
    <h2>ACTIVE plans</h2>
    <p>Ready to use plan for the end user.</p>
    {{ tables.active }}
</div>

<br/>

<div class="plan-list-table-wrapper">
    <h2>INACTIVE plans</h2>
    <p>Inactive plans cannot be used.</p>
    {{ tables.inactive }}
</div>