vendor/
web/core
web/modules/contrib
web/themes/contrib
web/profiles/contrib

# Ignore configuration files that may contain sensitive information.
.env
web/sites/*/settings.local.php
web/sites/*/settings.ddev.php

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# IDE's
.idea

# Fuera el dir files.-
web/sites/default/files

# NO dbs.
*.sql
*.sql.gz

drush
web/.ht.router.php
web/INSTALL.txt
