vendor/
core
modules/contrib
themes/contrib
profiles/contrib

# Ignore configuration files that may contain sensitive information.
.env
sites/*/settings.local.php

# Ignore SimpleTest multi-site environment.
sites/simpletest

# IDE's
.idea

# Fuera el dir files.-
sites/default/files

# NO dbs.
*.sql

drush
/.ht.router.php
/INSTALL.txt
