# Ignore configuration files that may contain sensitive information.
sites/*/settings.local.php

# Ignore SimpleTest multi-site environment.
sites/simpletest

# IDE's
.idea

# Fuera el dir files.-
sites/default/files

# NO dbs.
*.sql