.region-wrapper > * {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.region-wrapper > *::after {
  clear: both;
  content: "";
  display: table;
}

> .region--header {
}

body .region--content-wrapper > .region--content > div {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;

  @media screen and (min-width: $desk) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;
  }

}

.region--content {

  .region--left-wrapper {

    @media screen and (min-width: $desk) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      &:last-child {
        margin-right: 0;
      }
    }

    + .region-content {

      @media screen and (min-width: $desk) {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        margin-right: 0;
        &:last-child {
          margin-right: 0;
        }
      }

    }

  }
}

> .region--social {
}

> .region--drupal-social {
}

> .region--footer {
}
