.page-node-type-videos {

  h1 {
    margin-bottom: 20px;

    @media screen and (min-width: $desk) {
      margin-bottom: 40px;
    }

  }

  .field--name-field-video-url {
    margin-bottom: 20px;

    @media screen and (min-width: $desk) {
      margin-bottom: 40px;
    }

  }

}
