<div class="placeholder-agreement-link" data-agreement-plan-id="{{ plan_id }}">
    <div>
        Pincha aquí para subscribirte
    </div>
    <p>{{ 'Subscription link loading... Wait please.'|t }}</p>
</div>
