.view-members {

  .view-header {
    font-size: $font-size-base;
    margin-bottom: 30px;

    @media screen and (min-width: $desk) {
      margin-bottom: 85px;
    }

    h2 {
      font-size: 38px;
      font-weight: 100;
      margin: 0 0 18px;
    }

    p {
      font-weight: 300;
      margin: 0;
    }

    a {
      color: $color-blue-b;
      margin-left: 4px;
    }

  }

  .view-filters {
    .form-item-field-name-value {
      display: inline-block;
      margin: 0;
    }

    .form-actions {
      display: inline-block;
      vertical-align: top;
      margin: 18px 0 0 10px;
    }
  }

  .views-row {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 25px;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 60px;
    }

  }

}
