// Listado de articles de la home.
.view-display-id-block_articles {

  .view-content {
    @include clearfix;
    max-width: 78.5em;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tab) {
      padding: 0;
    }

    .views-row {
      margin-bottom: 40px;

      @media screen and (min-width: $tab) {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
      }

    }

  }

  .more-link {
    text-align: center;

    @media screen and (min-width: $tab) {
      margin-top: 50px;
    }

    @media screen and (min-width: $desk) {
      margin-top: 121px;
    }

    a {
      @include simple-button;
      @include black-button;
      display: inline-block;
    }

  }

}
