.node--type-videos {

  // Teaser
  &.node--view-mode-teaser {

    .field--name-field-video-url {
      margin-bottom: 14px;

      a {
        background: black;
        display: block;
        position: relative;
        min-height: 118.05px;

        &:before {
          content: "";
          width: 82px;
          height: 83px;
          background: url(image-url("icon-play-82x83.png")) no-repeat center;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          position: absolute;
          top: 50%;
          left: 50%;
        }

      }

      img {
        vertical-align: top;
      }

    }

    .field--name-node-title {

      h2 {
        font-size: 16px;
        font-weight: 300;
        margin: 0;
      }

    }

  }

  // Full
  &.node--view-mode-full {

    .field--name-body {
      margin-bottom: 30px;

      p {
        margin: 0;
      }

    }

    .field--type-entity-reference {
      @include clearfix;
      margin-bottom: 10px;

      .field__label {
        font-size: 18px;
        font-weight: 300;
        padding-right: 7px;
      }

      .field__item {
        font-size: 16px;
        font-weight: 900;
        color: $color-blue-c;
        display: inline-block;
        vertical-align: middle;
        padding-top: 3px;
        margin-right: 10px;
      }

    }
  }

}
