.node--type-videos.node--view-mode-teaser {

  .field--name-field-video-url {
    margin-bottom: 14px;

    a {
      background: black;
      display: block;
      position: relative;
      min-height: 118.05px;

      &:before {
        content: "";
        width: 82px;
        height: 83px;
        background: url(image-url("icon-play-82x83.png")) no-repeat center;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
      }

    }

    img {
      vertical-align: top;
    }

  }

  h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

}
