.tabs {

  li {

    a {
      font-size: $font-size-small;
      background: $color-grey-a;

      &:focus, &:hover {
        background: $color-grey-b;
      }

      &.is-active {
        background: $color-grey-c;
      }

    }
  }

}
