.user--view-mode-compact {
  width: 100%;
  display: table;

  > div {
    display: table-cell;
  }

  .field--name-user-picture {
    max-width: 100px;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;

    @media screen and (min-width: $desk) {
      vertical-align: middle;
      padding-top: 0;
      padding-right: 30px;
    }

    a {
      display: block;
      max-height: 60px;
      overflow: hidden;
    }

    img {
      width: 50px;
      height: auto;
      vertical-align: top;
      max-width: none;
    }

  }

  .field--name-user-picture + .user-details {
    padding-left: 0px;
  }

  .user-details {
    width: 100%;
    position: relative;
    vertical-align: top;
    padding-left: 60px;
    @media screen and (min-width: $desk) {
      padding-left: 80px;
    }

    .field--name-field-name {
      font-size: $font-size-big;
      font-weight: 100;
      line-height: 26px;
      margin-bottom: 10px;

      @media screen and (min-width: $desk) {
        line-height: 1;
        margin-bottom: 25px;
      }

    }

    .field--name-field-social-links {

      @media screen and (min-width: $desk) {
        width: 100%;
      }

      .field__item {
        margin-bottom: 5px;

        @media screen and (min-width: $desk) {
          display: inline-block;
          margin-right: 30px;
          margin-bottom: 0;
        }

        a {
          font-size: $font-size-small;
          font-weight: 400;
          text-transform: uppercase;
          position: relative;

          &:before {
            content: "";
            width: 20px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -5px;
            margin-right: 6px;
          }

          &.social-other:before {
            background: url(image-url("icon-chevron-right.png")) no-repeat center;
          }

          &.social-github-plus:before {
            background: url(image-url("icon-github-45x40.png")) no-repeat center;
            background-size: 16px 16px;
            filter: brightness(30%);
          }

          &.social-google-plus:before {
            background: url(image-url("icon-bo-18x16.png")) no-repeat center;
          }

          &.social-drupal-plus:before {
            background: url(image-url("icon-drupal-11x16.png")) no-repeat center;
          }

          &.social-twitter-plus:before {
            background: url(image-url("icon-tw-20x16.png")) no-repeat center;
          }

          &.social-facebook-plus:before {
            background: url(image-url("icon-fa-9x16.png")) no-repeat center;
          }

          &.social-linkedin-plus:before {
            background: url(image-url("icon-linkedin-15x16.png")) no-repeat center;
          }

          &:hover, &focus {
            color: $color-blue-b;
          }

        }

      }
    }
  }

}
