#block-aed-th-newslettersignup {
  text-align: center;
}

.region--footer-wrapper {
  background: #000;

  .region--footer {
    padding: 5px 15px 25px;

    @media screen and (min-width: $desk) {
      padding: 57px 0 40px;
    }

    #block-aed-th-footer {

      @media screen and (min-width: $desk) {
        float: left;
      }

    }

    #block-slogan {

      @media screen and (min-width: $desk) {
        float: right;
      }

    }

  }

}

.region-wrapper footer {
  @include clearfix;
  max-width: 78.857em;
}
