.region--header-wrapper {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 20px;

  @include media ($desk) {
    margin-bottom: 56px;
  }

}

.region--header {

  .region-header {
    @include clearfix;
    padding: 10px;

    @include media ($desk) {
      padding: 54px 0 46px;
    }

  }

  #block-aed-th-main-menu {
    padding-top: 15px;

    @include media ($desk) {
      float: right;
      padding-top: 2px;
    }

  }

}

.region-wrapper header {
  max-width: 78.857em;
}
