.region--header-wrapper {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 20px;
}

.region--header {

  .region-header {
    @include clearfix;
    padding: 10px;

    @media screen and (min-width: $desk) {
      padding: 54px 0 46px;
    }

  }

  #block-aed-th-main-menu {
    padding-top: 15px;

    @media screen and (min-width: $desk) {
      float: right;
      padding-top: 2px;
    }

  }

}

.region-wrapper header {
  max-width: 78.857em;
}

#block-aed-th-breadcrumbs {
  padding: 10px 0px 0px;
  margin-bottom: 10px;
  margin-top: -20px;
  color: #027381;
  a {
    font-weight: bold;
    color: #027381;
  }
}
