// Font sizes responsive
@mixin font-size($mob, $tab: $mob, $desk: $tab) {
  font-size: $mob;

  @media screen and (min-width: $tab) {
    // tablet
    font-size: $tab;
  }

  @media screen and (min-width: $desk) {
    // desktop
    font-size: $desk;
  }

}
