.view-members {

  .view-header {
    font-size: 16px;
    margin-bottom: 30px;

    @include media($desk) {
      margin-bottom: 85px;
    }

    h2 {
      font-size: 38px;
      font-weight: 100;
      margin: 0 0 18px;
    }

    p {
      font-weight: 300;
      margin: 0;
    }

    a {
      color: $color-blue-b;
      margin-left: 4px;
    }

  }

  .views-row {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 25px;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 60px;
    }

  }

}
