{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.removeClass('contextual-region')|without('role', 'aria-labelledby') }}>
    {% block content %}
        {{ content }}
    {% endblock %}
</nav>
