html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html body {
  color: black;
  font-family: $base-font-family;
  font-size: $font-size-small;
  line-height: $base-line-height;
  font-weight: 200;

  @media screen and (min-width: $desk) {
    font-size: $font-size-base;
  }

  * {
    box-sizing: border-box;
  }

}

a {
  color: black;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
  outline: none;

  &:focus,
  &:hover {
    color: dimgrey;
    text-decoration: none;
  }

}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  margin-bottom: 1em;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18x;
}

h6 {
  font-size: 16px;
}

.page-title {
  font-weight: 100;

  * {
    font-weight: 100;
  }

}

strong {
  font-weight: bold;
}

#l10n-client {
  z-index: 99999;
}

// Titles
.block-views-blockpartners-block-1 + .block + .block,
.block-views-blockarticles-block-articles,
.block-views-blockpartners-block-1 {

  > h2 {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }

}

.block-page-title-block h1 {
  font-size: 35px;
  font-weight: 300;
  margin: 0 0 30px;
}
